.container {
  margin: 0 auto;

  &.sign {
    padding: 70px 0 0;
    width: 396px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &.header {
    padding: 18px 70px;
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 768px) {
  .container {
    &.header {
      padding: 18px 30px;
    }
  }
}

@media screen and (max-width: 401px) {
  .container {
    &.sign {
      width: 260px;
    }
  }
}