.container {
  margin: 0 auto;

  &.sign {
    padding: 70px 0 0;
    width: 396px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &.header {
    padding: 18px 70px;
    display: flex;
    justify-content: space-between;
  }

  &.profile {
    padding: 74px 0 0;
    width: 410px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15vh;
  }

  &.movie {
    padding: 70px 70px 80px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .container {
    &.header {
      padding: 18px 30px;
    }

    &.movie {
      padding: 50px 10px 78px;
    }
  }
}

@media screen and (max-width: 420px) {
  .container {
    &.profile {
      width: 260px;
    }
  }  
}

@media screen and (max-width: 401px) {
  .container {
    &.sign {
      width: 260px;
    }

    &.header {
      padding: 18px 14px;
    }
  }
}