.filter {
  box-sizing: border-box;
  background-color: #222;
  padding: 19px;
  border-radius: 9px;
  display: flex;
  gap: 19px;
}

.form {
  display: flex;
  width: 100%;
}

.icon {
  background-image: url(../../assets/images/icon-search.svg);
  width: 34px;
  height: 34px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;

  &::placeholder {
    color: #8b8b8b;
  }
}

.submit {
  background-color: #4285f4;
  color: #fff;
  background-image: url(../../assets/images/icon-search-withe.svg);
  background-size: 22px 22px ;
  background-position: center;
  background-repeat: no-repeat;
  width: 80px;
  height: 34px;
  border: none;
  outline: none;
  border-radius: 48px;
  cursor: pointer;
}

.toggle {
  display: flex;
  align-items: center;
  border-left: 1px #fff solid;
  padding-left: 29px;
  gap: 14px;
}

.text {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #fff;
}

.switcher {
  width: 36px;
  height: 20px;
  background-color: #343434;
  border-radius: 20px;
  padding: 2px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  cursor: pointer;

  &.off {
    align-items: flex-start;
  }

  &.on {
    align-items: flex-end;
  }
}

.circle {
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  background-color: #2be080;
  border: 1px solid #fff;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  .filter {
    padding: 0;
    flex-direction: column;
    background-color: transparent;
    align-items: center;
  }

  .form {
    padding: 25px 19px;
    background-color: #222;
    border-radius: 9px;
    box-sizing: border-box;
  }
  
  .toggle {
    border: none;
  }
}