.more {
  width: 320px;
  height: 36px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #fff;
  background-color: transparent;
  border: 1px solid #424242;
  border-radius: 5px;
  cursor: pointer;
}

.notFound {
  font-size: 25px;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .more {
    width: 240px;
  }
}